:root {
  --primary: #12372A;
  --secondary: #436850;
  --info: #ADBC9F;
  --light: #FBFADA;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 330px;
  padding-bottom: 2rem;
}

.title-div {
  background-color: var(--secondary);
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120%;
}

.card p {
  text-align: center;
  width: 50%;
}
